body{
    background-color: black;
    color: white;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.done{
    text-decoration: line-through;
}

#clock{
    width: 900px;
    height: 100px;
    padding: 25px;
    background: linear-gradient(88deg,#153677,#4e085f);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    color: #2aff9f;
    border-radius: 5px;
}